[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
replicate = "*"
pydantic = "*"
mangum = "*"
python-dotenv = "*"
llama-index = "*"
langchain = "*"
openai = "==0.27.8"
cohere = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
start = "uvicorn app.main:app --reload"
build = "docker build --platform linux/amd64 -t personal-chat-api:latest ."

[pipenv]
allow_prereleases = true
